.user-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    
    .user-header {
        background-color: #f1c6c600;
        transition: box-shadow 0.3s ease;
        transition: background-color 0.3s ease;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000; 
    }

    .user-main-content {
        background-color: #ececec93;
        flex: 1; 
        overflow-y: auto;
 
    }

    .user-footer {
        flex: 0; 
        
        bottom: 0; 
       
    }
  
    
}
