.admin-list {
  height: 100vh;

  .card-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card-body {
    padding: 20px;
    .user-list-loading {
      border: #333 2px; 
    }
  }

  .user-info {
    display: flex;
    align-items: center;
    
    /* Phần chỉnh sửa mới cho search-input */
    .search-input {
      width: 250px; /* Độ rộng của input */
      padding: 8px 20px 8px 40px; /* Padding để tạo khoảng trống cho icon */
      border-radius: 20px; /* Làm tròn góc */
      border: 1px solid #007bff; /* Đường viền màu xanh */
      background-color: #f8f9fa; /* Màu nền nhẹ */
      color: #495057; /* Màu chữ */
      font-size: 14px; /* Kích thước chữ */
     

      &:focus {
        background-color: white; /* Màu nền khi focus */
        box-shadow: 0 0 0 2px rgba(0,123,255,.25); /* Hiệu ứng shadow xung quanh input */
      }
    }
  }

  .user-avatar, .imgAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #007bff; /* Viền màu xanh */
  }

  .filter-area {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px; /* Khoảng cách giữa các lựa chọn lọc */
    padding: 10px 0;

    select {
      padding: 5px 10px;
      border-radius: 5px;
      border: 1px solid #007bff; /* Border màu xanh */
      background-color: white;
      color: #333;
      cursor: pointer;

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba(0,123,255,.25);
      }
    }

    label {
      margin: 0;
      font-size: 16px; /* Kích thước chữ */
    }
  }

  .user-name {
    font-weight: bold;
  }

  .table {
    th, td {
      text-align: center;
    }
  }

  .status-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }

  .status-indicator.online {
    background-color: #28a745;
  }

  .status-indicator.offline {
    background-color: #6c757d;
  }

  .text-success, .text-secondary {
    font-weight: bold;
  }

  .actions-btn-delete:hover {
    color: rgb(124, 19, 19);
    cursor: pointer;
  }

  .actions-btn-edit:hover, .actions-btn-view:hover {
    cursor: pointer;
  }

  .actions-btn-view:hover {
    color: rgb(37, 203, 240);
  }
}
