.header-container {
  background-color: #242526;
  color: #EC4D37;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    text-align: center;
    height: auto;
  }
}

.left-links {
  display: flex;
  align-items: center;
}

.left-links a {
  margin-right: 20px;
  margin-bottom: 0; 
  text-decoration: none;
  color: #EC4D37;
  font-size: 16px;
  transition: color 0.3s ease;

  &:hover {
    color: #e27b6d;
  }

  @media (max-width: 768px) {
    margin-right: 0;
  }
}

.search-container {
  display: flex;
  align-items: center;
  width: 60%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.imgAvatar {
  height: 37px;
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;

  &:hover {
    filter: brightness(1.2);
    cursor: pointer;
  }

  @media (max-width: 768px) {
    margin-right: 0;
  }
}

.right-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 768px) {
    margin-bottom: 10px; 
  }
}


.right-links {
  display: flex;
  
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.btn {
  background-color: #6d6867;
  color: #EC4D37;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #aa847f;
  }
}
