.add-range-modal-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    .main-addRange-modal {
        background-color: #fff;
        width: 600px;
        height: 500px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
       
        .add-range-modal-close {
            background-color: rgb(245, 255, 138);
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            height: 50px;
            
            h2 {
                margin: auto;
                padding-right: 120px;
                background-color: #fff;
                border-radius: 4px;
                padding: 8px;
                background-color: rgb(245, 255, 138);
            }

            .top-delete-btn {
                background-color: transparent;
                border: none;
                font-size: 1.5rem;
                cursor: pointer;
                color: #999;
                transition: color 0.3s;
                border-radius: 50%;
                padding: 8px;
                &:hover {
                    color: rgb(238, 68, 68);
                }
            }
        }

        .add-range-modal-content {
            padding: 20px;
            height: calc(100% - 120px);
            position: relative;
            background-color: #f5f5f5;
            align-items: center;
            display: flex;
            flex-direction: column;
            h2 {
                margin-bottom: 10px;
            }
            .photo-dragDrop-file{
                margin: auto;
                display:flex ;
                .photo-dragDrop-dashedBox{
                    background-color: #d6eeff;
                    border: dashed black;
                    border-radius: 20px;
                    
                    .addRange-props{
                        padding: 30px;
                        .jsonFile-text{
                           padding-left: 30px;
                        }
                    }
                }
                .JsonFile-props{
                    border: solid black;
                    max-width: 224px;
                    border-radius: 10px;
                    background-color: #f1fbb7;
                    margin-left: 20px;
                    max-height: 264px;
                    overflow-y: auto;
                    .File-details {
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                    
                        .File-header {
                            border-bottom: solid black;
                            text-align: center;
                            font-size: larger;
                            font-weight: bolder;
                            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        }
                    
                        .File-content {
                            flex: 1;
                            overflow-y: auto; 
                        }
                        .File-content{
                            margin: 10px;
                        }
                        .File-footer {
                          padding-left: 70px;
                          padding-bottom: 10px;
                         
                          button{

                            border-radius: 20px;
                            border: none;
                            background-color: rgb(251, 154, 154);
                            transition: background-color 0.2s ease;
                            &:hover{
                                background-color: rgb(255, 38, 38);
                            }
                          }
                        }
                    }
                    
                }
            }
        }
        

        .add-range-modal-footer {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-top: 10px;
            padding-right: 10px;
            .bottom-submit, .bottom-close {
                padding: 8px 20px;
                margin-left: 10px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                transition: background-color 0.3s;
            }
            .bottom-submit {
                background-color: #6e95c0;
                color: #fff;
                &:hover {
                    background-color: #437ebe;
                }
            }
            .bottom-close {
                background-color: #999;
                color: #fff;
                &:hover {
                    background-color: rgb(199, 91, 91);
                }
            }
        }
    }

    
}
