* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.login-form {
  display: flex;
  height: 100vh;
}

.checkout-section {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;

  .checkout-card {
    width: 80%;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;

    p {
      margin-bottom: 10px;
    }
  }
}

.login-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-form-inner {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000000;
    opacity: 0.9;

    h2 {
      font-size: 1.5em;
      margin-bottom: 20px;
    }

    /* Your existing styles for the form container */
  }
}
