.userCreate-form {
    background-color: #18191a;
    height: 100vh;
    color: #fff;
  
    .user-img-list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
    }
  
    .user-img-list  {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  
    .user-img-list img {
      max-width:100px;
      height: auto;
      display: block;
      border-radius: 10px;
      margin-left: 7px;
      margin-right: 7px;
      
    }
  }
  