.userCreate-form {
  background-color: #eed9cb;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-top: 80px;
}

.drap-drop-image {
  background-color: #ffffff9d;
  width: 60%;
  border-radius: 10px;
  height: auto;
  padding: 15px;
  box-shadow: 0 0 10px rgba(37, 37, 37, 0.56);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.dashed-box {
  text-align: center;
  border: 2px dashed #3399da;
  border-radius: 10px;
  width: 70%;
  height: 90%;
  background-color: #348cbe28;
  margin-left: 15px;
  padding: 20px;
  &:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }
  img {
    width: 50%;
    height: auto;
    max-height: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
    padding: 10px 0;
  }
  div {
    font-size: larger;
    color: #0b1924bc;
    padding-bottom: 30px;
  }
  img:hover {
    transform: scale(1.02);
  }
}

.img-lists {
  max-height: 300px;
  width: 500px;
  border-radius: 10px;
  background-color: #d4d7d45d;
  margin: 0 10px;
  color: #18191a;
  padding: 20px;
  overflow: auto;
  img {
    margin: 5px 0;
    max-width: 50px;
    width: 60px;
  }
  p {
    font-size: smaller;
  }
}

.image-container {
  display: flex;
  flex-direction: column;
  .file-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .file-preview {
    max-width: 100px;
    max-height: 100px;
    overflow: auto;
  }
  .file-info img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .file-info img:hover {
    transform: scale(1.05);
  }
  .file-details {
    margin-left: 20px;
  }
  .delete-dropDrag {
    background-color: transparent;
    border: none;
    color: #bcb6b671;
    cursor: pointer;
    transition: color 0.3s ease;
    margin: auto;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #63616128;
    margin-left: 15px;
    border-radius: 50%;
    width: 36px;
    height: 30px;
  }

  .delete-dropDrag:hover {
    color: #ff5252;
    background-color: #f5a9a96c;
  }

  .delete-icon {
    font-size: 1.5rem;
  }
}

.user-img-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  .user-img-item {
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin-left: 8px;
  }
  img:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    font-size: 14px;
    text-align: center;
  }
}

.delete-btn {
  position: absolute;
  top: -6px;
  right: -10px;
  background-color: transparent;
  border: none;
  color: #b0969670;
  cursor: pointer;
  transition: color 0.3s ease;
}

.delete-btn:hover {
  color: #ff5252;
}

input[type="file"] {
  display: none;
}
