// Main.scss
.toggle-button {
  color: white;
  border: none;
  border-radius: 50%; /* Làm cho nút có hình dạng hình tròn */
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #2980b9;
  }
}

.toggle-icon {
  width: 30px;
  height: 20px;
}

.dashboard-container {
  display: flex;
  height: 100vh;
  background-color: #fff;
}

.content-wrapper {
  margin-left: 5px;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  width: calc(100% - 200px);
}

.main-content {
  flex: 1;

  height: 100%;
}

.dashboard-links {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.dashboard-links a {
  text-decoration: none;
  color: #3498db;
  padding: 10px;
  border-radius: 5px;
  background-color: #ecf0f1;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #bdc3c7;
  }
}

.dashboard-widgets {
  background-color: #f8f2f2;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.content-wrapper::-webkit-scrollbar {
  height: 8px;
}

.content-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
