.size-card-container {
  width: 100%;
  background-color: #fff;
  border-radius: 12px;
  border: solid 2px rgb(155, 255, 132);
  margin-bottom: 15px;
  .size-intro {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #ffffff;
    padding: 10px;
    background-color: #8dcd7e;
    border-radius: 10px;
    .left-size-intro {
      display: flex;
      align-items: center;
    }
    span {
      color: #000000b4;
    }

    h3 {
      color: #ffffff;
      margin: 0 10px 0 0;
    }
    .size-button-addRange {
      border: none;
      background-color: #fdad73;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      text-align: center;
      align-items: center;
      justify-content: center;
      display: flex;
      cursor: pointer;

      &:hover {
        background-color: #ff9343;
      }
    }
    .button-size {
      border: none;
      background-color: transparent;
      margin-right: 5px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .size-card-list {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .size-list-loading {
      margin: auto;
    }

    .size-card {
      height: 230px;

      position: relative;
      width: calc(25% - 20px);
      margin-bottom: 20px;
      overflow-y: hidden;
      border-radius: 8px;
      box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
      background-color: #b4ffa7;
      .size-card-cover {
        height: 230px;
        background-color: #e3e3e3;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        .size-card-cover-header {
          margin-right: 40px;
        }
        .size-card-cover-props {
          display: flex;
          text-align: center;
          justify-content: center;
          align-items: center;
          b {
            margin-left: 5px;
            font-size: larger;
          }
          .size-card-cover-content {
            background-color: #9efcff;
            border: dashed 2px;
          }
          .size-card-cover-content {
            position: relative;
            background-color: #9efcff;
            border-radius: dashed 2px;
     
          }
         
        }
        .size-card-cover-footer {
          margin-top: 4px;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
      }
      &:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.458);
      }

      .status-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
      }

      .size-card-details {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
        border-radius: 8px;
        overflow: auto;
        .size-card-header {
          padding: 10px;
          border-bottom: 1px solid #e0e0e0;
          font-size: 16px;
          font-weight: bold;
          color: #000000;
          background-color: #ffffff;
          border-radius: 8px 8px 0 0;
        }

        .size-card-body {
          padding: 10px;
          font-size: 14px;
          color: #000000;
          background-color: #88c5efe7;

          .size-card-content {
            font-size: larger;
          }
        }

        .size-card-footer {
          padding: 10px;
          background-color: #3498db;
          border-top: 1px solid #e0e0e0;
          text-align: right;
          display: flex;
          justify-content: space-between;
          button {
            padding: 8px 16px;
            background-color: #3498db;
            color: #ffffff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
              background-color: #2980b9;
            }
          }
        }
      }

      &:hover .size-card-details {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  .size-pagination {
    justify-content: center;
    text-align: center;
    padding: 10px;
  }
}
