.frame-card-container {
    width: 100%;
    background-color:#fff;
    border-radius: 12px;
    border: solid 2px rgb(155, 255, 132);
    margin-bottom: 15px;
    .frame-intro {
      font-size: 24px;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      color: #ffffff;
      padding: 10px;
      background-color: #8dcd7e;
      border-radius: 10px;
  
      .left-frame-intro {
        display: flex;
        align-items: center;
  
        h3 {
          margin: 0 10px 0 0;
        }
  
        .frame-button-addRange {
            border: none;
            background-color: #fdad73;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            text-align: center;
            align-items: center;
            justify-content: center;
            display: flex;
            cursor: pointer;
      
            &:hover {
              background-color: #ff9343;
            }
        }
      }
  
      span {
        color: #000000b4;
      }
  
      .button-frame {
        border: none;
        background-color: transparent;
        margin-left: 5px;
        cursor: pointer;
  
        &:hover {
          opacity: 0.8;
        }
      }
    }
  
    .frame-card-list {
      padding: 15px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .frame-list-loading {
        margin: auto;
      }
  
      .frame-card {
        height: 200px;
        position: relative;
        width: calc(25% - 20px);
        margin-bottom: 20px;
        overflow-y: auto;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        &:hover {
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.458);
        }
  
        .frame-card-image {
          width: 200px;
          height: 200px;
          background-size: cover;
          border-radius: 8px 8px 0 0;
          
      }
      
  
        .status-icon {
          position: absolute;
          top: 10px;
          right: 10px;
          z-index: 1;
        }
  

        .frame-card-details {
          overflow: auto;
          max-height: 200px;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          background-color: rgba(255, 255, 255, 0.8);
          transition: background-color 0.3s ease;
          transform: translateY(100%);
          opacity: 0;
          border-radius: 0 0 8px 8px;
  
          .frame-card-header {
            padding: 10px;
            border-bottom: 1px solid #e0e0e0;
            background-color: #49CC90;
            font-size: 16px;
            font-weight: bold;
            color: #ffffff;
            border-radius: 8px 8px 0 0;
          }
  
          .frame-card-body {
            padding: 10px;
            font-size: 14px;
            color: #000000;
            background-color: #d7faeb;
  
            .frame-card-content {
              font-size: larger;
              
            }
          }
  
          .frame-card-footer {
            padding: 10px;
            border-top: 1px solid #e0e0e0;
            text-align: right;
  
            input[type='button'] {
              padding: 8px 16px;
              background-color: #3498db;
              color: #ffffff;
              border: none;
              border-radius: 4px;
              cursor: pointer;
              transition: background-color 0.3s ease;
  
              &:hover {
                background-color: #2980b9;
              }
            }
          }
        }
  
        &:hover .frame-card-details {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  
    .frame-pagination {
      justify-content: center;
      text-align: center;
      padding: 10px;
    }
  }
  