.sidebar {
    width: 150px; 
    background-color: #1D1B1B;
    color: #1D1B1B;
    padding: 20px;
    margin: 0;
    white-space: nowrap;
    transition: width 0.2s ease, opacity 0.3s ease;
    margin-right: 22px;
    a {
      display: block;
      margin-bottom: 10px;
      text-decoration: none;
      color: #ED4D37;
      font-weight: bold;
  
      &:hover {
        color: #e1796c;
      }
    }
  }
  
  .sidebar.collapsed {
  
    transition: width 0.2s ease, opacity 0.1s ease; 
    width: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
  }

// .sidebar{
//   position: fixed;
//   top: 0;
//   left: 0;
//   height: 100vh;
//   width: 320px;
//   background-color: #fff;
//   &__logo{
//     display: grid;
//     place-items: center;
//     height: 120px;
//     font-size: 1.5rem;
//     font: weight 700;
//     font-family:'Mochiy Pop P one',sans-serif;
//   }

