.userDetail-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #18191A;
}

.user-detail-container {
  display: flex;
  width: 98%;
}

.left-side {
  flex: 2;
  max-height: calc(100vh - 100px); 
  overflow-y: auto; 
}

.right-side {
  flex: 7; /* Chiếm 70% */
  background-color: #fff;
  margin-left: 10px; /* Khoảng cách 10px */
}

.user-detail-card {
  max-width: 400px;
  width: 100%;
  text-align: center;
  background-color: #242526;
  color: #fff;

  .user-avatar {
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }

  .card-title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .card-text {
    font-size: 18px;
    line-height: 1.6;
  }

  .btn-primary {
    font-size: 16px;
    margin-top: 20px;
  }
}
